:root {
	--background: rgb(225, 231, 239);
	--body-text: rgb(15 23 42);

	--button-color: rgb(51 65 85);
	--button-text-color: rgb(241 245 249);
}

.dark-mode {
	--background: rgb(30 41 59);
	--body-text: rgb(203 213 225);

	--button-color: rgb(148 163 184);
	--button-text-color: rgb(30 41 59);
}

body {
	background-color: var(--background);
	color: var(--body-text);
}

.bnt {
	border-color: var(--button-color);
	background-color: var(--button-color);
	color: var(--button-text-color);
}
