@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply bg-neutral-700;
}

body {
	@apply bg-neutral-100 dark:bg-neutral-600;
	@apply text-neutral-700 dark:text-neutral-100;
	@apply transition-colors;
}

.bnt {
	@apply bg-primary-300 text-neutral-100;
	@apply transition-colors ease-out;
}

.bnt:hover {
	@apply bg-secondary-300 text-neutral-600;
}

.glass {
	@apply border border-solid;
	border-color: rgba(255, 255, 255, 0.3);
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
